/*
Лабораторная работа 1 по дисциплине ЛОИС
гр. 721702
Выполнил студент: Войтеховский Евгений
Вариант2: проверить является ли строка формулой логики высказываний.
*/
body {
 margin: auto;
 background: #90EE90;
}

a.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .3em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FF4500;
  border-radius: 3px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  position: fixed;
  top: 165px;
  left: 250px;
  width: 100px;
    height: 15px;
} 
a.button:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
a.button:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

input{
    background-color: white;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid#40382D;
    margin-top: 10px;
    text-decoration: none;
    position: fixed;
    top: 150px;
    left: 5px;
}
#output{
  position: absolute;
  top: 113px;
  left: 50px;
}

